:root{
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;

    --основний-колір-фону: #FFFFFF;
    --другорядний-колір-фону: #F5F4FA;  
}


.page{
    background-color:var(--основний-колір-фону);
    color:var(--primary-text-color);
}



.list{
    list-style: none;
}


/* nav*/

.logo-link{
    color: var(--title-text-color);
}


.logo-header{
    color: var(--accent-color);
}

.site-nav .link{
    color: var(--title-text-color);
}


.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}


.site-contact .link {
    color: var(--primary-text-color);
}


.site-contact .link:hover,
.site-contact .link:focus{
    color: var(--accent-color);
}


/*Hero*/
.hero{
    background-color: #2F303A;
    color: var(--white-color);
    text-align:center;
}


.hero .button{
  background-color: #188CE8;
  color: #FFFFFF;
}


.hero .button:hover{
  background-color:  #188CE8;

}


/*   */
.section-title{
    color: var(--title-text-color);

}


.feature-list .title{
    color: var(--title-text-color);
}